
.content-container {
  overflow-y: auto;
  height: 82vh;
}

ion-content {
  overflow-y: scroll;
}

.loginButton {
  margin: 1rem 10px;
}

.heading {
  text-align: center;
}

#open-dialog{
  margin-bottom: 1rem;
}