<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [debounce]="500" color="primary" #search (ionInput)="handleInput(search.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-container">
    <ion-list>
      <ion-item *ngFor="let result of results">
        <ion-label>{{ result }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" style="font-size: 0.65rem;" id="open-dialog" (click)="successToastr()">Success Toast</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" style="font-size: 0.66rem;" id="open-dialog" (click)="errorToastr()">Error Toast</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" style="font-size: 0.66rem;" id="open-dialog" expand="block" (click)="openAlert()">Open Dialog</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p-calendar expand="block" [(ngModel)]="date2" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" class="full-width"></p-calendar>
    <!-- <button pButton type="button" label="Click me" style="color: #007bff; background-color: #ffffff; margin: 1rem 1rem;"></button> -->
    <!-- <ion-button expand="block" (click)="openAlert()">Open Alert</ion-button> -->
      
  </div>
</ion-content>

<app-footer></app-footer>