<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Social Sharing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="page-container">

  <ion-button expand="full" (click)="chooseAndShareFile()">Share File</ion-button>
  <input type="file" id="fileInput" style="display: none;" (change)="handleFileInput($event)">
  <ion-button expand="full" (click)="shareScreenShot()">Share Screen Shot</ion-button>
  <ion-button expand="full" (click)="sharePhoto()">Share Photo</ion-button>

  <!-- <ion-button expand="full" (click)="chooseFile()">Select File</ion-button> -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/photo-gallery']">
          <ion-icon name="camera"></ion-icon>
          Camera
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/calendar']">
          <ion-icon name="calendar"></ion-icon>
          Calendar
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar> 
</ion-footer>