<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="container">
    <ion-card>
      <div class="wrapper">
        <h1 class="heading">Sign in</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">

          <ion-list>
            <ion-item>
              <ion-input 
                type="email"
                label="Email" 
                formControlName="Email" 
                labelPlacement="floating" 
                placeholder="Enter email"
                autocomplete="off">
              </ion-input>

              <ion-icon 
                name="alert-circle" 
                slot="end" 
                *ngIf="loginForm.get('Email').invalid && (loginForm.get('Email').dirty || submitted)">
              </ion-icon>
            </ion-item>

            <ion-text color="danger" *ngIf="loginForm.get('Email').invalid && (loginForm.get('Email').dirty || submitted)">
              <p *ngIf="loginForm.get('Email').hasError('required')">*Email is required</p>
              <p *ngIf="loginForm.get('Email').hasError('Email')">*Invalid email format</p>
            </ion-text>

            <ion-item>
              <ion-input 
                #passwordInput 
                formControlName="Password" 
                type="password" 
                label="Password" 
                labelPlacement="floating" 
                placeholder="Enter password"
                autocomplete="off">
              </ion-input>

              <ion-icon 
                [name]="passwordInput.type === 'password' ? 'eye' : 'eye-off'" 
                (click)="togglePasswordVisibility(passwordInput)" 
                slot="end"
                class="small-icon"
                color="primary">
              </ion-icon>

              <ion-icon 
                name="alert-circle" 
                slot="end" 
                *ngIf="loginForm.get('Password').invalid && (loginForm.get('Password').dirty || submitted)">
              </ion-icon>
            </ion-item>

            <ion-text color="danger" *ngIf="loginForm.get('Password').invalid && (loginForm.get('Password').dirty || submitted)">
              <p *ngIf="loginForm.get('Password').hasError('required')">*Password is required</p>
            </ion-text>

            <ion-button type="submit" class="loginButton" expand="block" [disabled]="isLoading">
              Login
              <ion-spinner *ngIf="isLoading" name="circular" style="margin-left: 1rem;"></ion-spinner>
            </ion-button>
          </ion-list>

        </form>
      </div>

    </ion-card>
  </div>
</ion-content> -->

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="header">
    <p class="title">Welcome</p>
    <p class="subTitle">Sign in to access your account</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="ion-padding">

      <ion-item>
        <ion-input 
          placeholder="email" 
          class="input"
          type="email"
          formControlName="Email"
          autocomplete="off">
        </ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <ion-text color="danger" *ngIf="loginForm.get('Email').invalid && (loginForm.get('Email').dirty || submitted) || loginForm.get('Email').touched">
        <p *ngIf="loginForm.get('Email').hasError('required')">*Email is required</p>
        <p *ngIf="loginForm.get('Email').hasError('email')">*Invalid email format</p>
      </ion-text>

      <ion-item>
        <ion-input 
          type="password"
          placeholder="password" 
          class="input"
          formControlName="Password"
          autocomplete="off">
        </ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-text color="danger" *ngIf="loginForm.get('Password').invalid && (loginForm.get('Password').dirty || submitted) || (loginForm.get('Password').touched)">
        <p *ngIf="loginForm.get('Password').hasError('required')">*Password is required</p>
      </ion-text>

      <div class="forgotpassword">
        <a [routerLink]="['/forgot-password']" color="primary"> Forgot Password? </a>
      </div>

      <ion-button (click)="signInWithFacebook()" expand="full">
        Sign in with Facebook
      </ion-button>
      
      <div class="signupLink">
        <p>New member? <a [routerLink]="['/signup']" color="primary">Signup now</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="onFormSubmit()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>


<!-- <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter"></ion-range> -->